body {
    margin: 0;
    padding: 0;
    background-color: #FFFBF6;
}

.letterContainer {
    width: 100%;
    height: 600px; /* Adjust this to match the visible letter size */
    display: flex;
    justify-content: center;
    align-items: center;
}

#letterImg {
    width: 500px;
    height: auto; /* force vertical fit */
}

@media (max-width: 550px) {
    #letterImg {
        width: 300px;
        height: auto; /* force vertical fit */
    }
}

