body {
    background-color: #FFFBF6;
    position: relative;
    font-family: 'caveat', sans-serif;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
}


#cartHeader {
    font-size: 35px;
    font-family: 'caveat', sans-serif;
    color: #000000;
    font-weight: 100;
}

#cartItemImg {
    height: 250px;
    width: auto;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.cartItemInfo h1 {
    font-size: 30px;
    /* color: #980409; */
    color: black;
    margin: 0;
    margin-bottom: 10px;
}

.cartItemInfo h2 {
    font-size: 20px;
    color: #464646;
    margin: 0;
}

.edits {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px
}

.edits h1 {
    margin: 0;
    font-size: 30px;
}

.qtyBtn {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.edits h3 {
    margin: 0;
    font-size: 15px;
    padding: 5px 10px;
    /* background-color: #980409; */
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#cornerImg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-40%, 45%);
    width: 35%;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.finalize {
    display: none;
    flex-direction: row;
    margin: 0 auto;
    /* border: 2px solid #980409; */
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
}

.subtotal {
    width: 230px;
    padding: 0;
    margin: 0;
}

.subtotal h2 {
    font-size: 30px;
    /* color: #980409; */
    color: black;
    text-align: center;
    margin: 5px;
}

.cartStatus {
    margin-top: 200px;
}

.cartStatus h1 {
    font-size: 35px;
    font-weight: 100;
    /* color: #980409; */
    color: rgb(105, 105, 105);
}

.cartContainer {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.checkout {
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    /* border-top: 1px solid #980409; */
    /* border-bottom: 1px solid #980409; */
    border-bottom: 1px solid black;
    /* margin-top: 10px; */
}

.shopItems {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    box-sizing: border-box;
}

.cartItem {
    width: 100%;
    /* height: 250px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}


#total {
    color: #980409;
    font-size: 20px;
}

#product {
    font-size: 20px;
    /* color: #980409; */
    color: black;
    padding-left: 10px;
}

#checkout {
    width: 150px;
    /* border: #980409 1px solid; */
    border: rgb(104, 104, 104) 1px solid;
    border-left: #000000 1px solid;
    /* background-color: #980409; */
    background-color: rgb(104, 104, 104);
    color: #ffffff;
    font-size: 30px;
    font-family: 'caveat', sans-serif;
    overflow: hidden;
    text-align: center;
}

#checkout:hover {
    /* background-color: #d74045; */
    background-color: #000000;
    border: black 1px solid;

}


#clearCart {
    margin-top: 20px;
    width: 60%;
    border: #980409 1px solid;
    background-color: #ffffff;
    padding: 10px;
    color: #980409;
}

#clearCart:hover {
    background-color: #980409;
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media (max-width: 680px) {
    .wrapper {
        justify-content: center;
    }

    .edits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .cartItem {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 450px) {
    .subtotal {
        width: 140px;
    }

    .subtotal h2 {
        font-size: 23px;
    }

    #checkout {
        width: 120px;
        font-size: 23px;
    }
}




