.earlyAccess {
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 52, 52, 0.468);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.earlyAccessForm {
    width: 600px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* background-color: #fffaf6; */
    background-color: #ffffff;
    overflow: hidden;
}

.earlyAccessForm > * {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #ffffff;
}

#sideImgBox,
#signupForm {
    margin: 0;
    border: none;
    background-color: #fffaf6
}

#signupForm {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background-color: #fffaf6; */
    background-color: #ffffff;

}

#sideImgBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fffaf6; */
    background-color: #ffffff;
    position: relative;
}

#sideImgBox::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    /* background-color: #980409;  */
    background-color: black;
}
   

label[for="phone"] {
    color: rgb(0, 0, 0);
}

#sideImg {
    width: 85%;
    height: auto;
}


#earlyAccessButton {
    margin-top: 30px;
    width: 80%;
    /* background-color: #c36d70; */
    background-color: #686666;
    border: none;
    padding: 12px;
    color: #ffffff;
    border-radius: 30px;
    margin-bottom: 40px;
    font-family: 'Caveat', cursive;
    font-size: 17px;
}

#earlyAccessButton:hover {
    /* background-color: #980409; */
    background-color: #000000;
    cursor: pointer;
}
input[type="email"],
input[type="tel"],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0; /* Prevent mobile browser rounding */
}

input[type="email"],
input[type="tel"] {
    outline: none;
    border: none;
    /* border-bottom: 1px solid #980409; */
    border-bottom: 1px solid black;
    width: 80%;
    font-size: 16px;
    font-family: 'La Belle Aurore', cursive;
    /* font-family: 'Times New Roman', Times, serif; */
    /* background-color: #fffaf6; */
    background-color: #ffffff;
}

input[type="email"] {
    margin-top: 90px;
    margin-bottom: 40px;
    box-sizing: border-box;
}


input[type="checkbox"] {
    height: 20px;
    width: 20px;
    padding-left: 0px;
}

input[type="checkbox"]:checked {
    accent-color: #980409; /* Ensures the checkmark matches the background color */
}


#curationHead {
    position: absolute;
    top: 15px;
    left: 50%;
    padding: 0px;
    margin: 0px;
    transform: translateX(-50%); 
    background: rgba(255, 255, 255, 0); /* Optional: add a semi-transparent background for better visibility */
    background-color: #ff000000;
    font-size: 35px;
    /* color: #980409; */
    color: black;
    font-family: 'La Belle Aurore', cursive;
}

.checkMessage {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

#checkMsg {
    font-size: 13px;
    margin-left: 20px;
    color: #000000;
    font-family: 'La Belle Aurore', cursive;
}

#userAgreement {
    margin: 0;
    font-size: 20px;
    width: 80%;
    font-family: 'La Belle Aurore', cursive;
    /* color: #980409; */
    color: black;
    text-align: center;
    line-height: 1.5;
}

.getEarlyAccess {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#earlyAccessToggle {
    /* color: #980409; */
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-weight: 100;
}

#earlyAccessToggle:hover {
    cursor: pointer;
    font-weight: bold;
}

.getEarlyAccess h2 {
    font-size: 19px;
    /* color: #980409; */
    color: black;
    font-family: 'Caveat', cursive;
}

.getEarlyAccess h2:hover {
    cursor: pointer;
    font-weight: bold;
}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    color: rgba(58, 52, 52, 0.468);
    font-size: 20px;
    z-index: 10;
    font-family: 'Caveat', cursive;
    /* color: #980409; */
    color: black;
}

#close:hover {
    cursor: pointer;
}

#phoneWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 80%;
    box-sizing: border-box;
}

#countryCode {
    width: 50px;
    border: none;
    /* border-bottom: 1px solid #980409; */
    border-bottom: 1px solid black;
    font-size: 13px;
    color: #757575;
    outline: none;
    height: 32.5px;
    /* background-color: #fffaf6; */
    background-color: #ffffff;
    font-family: 'La Belle Aurore', cursive;
    font-size: 16px;

}

input[type="tel"] {
    padding-left: 10px;
    height: 32.5px;
    box-sizing: border-box;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fffaf6 inset;
    box-shadow: 0 0 0px 1000px #fffaf6 inset;
    -webkit-text-fill-color: #000;
}

@media (max-width: 700px) {
    .earlyAccessForm {
        flex-direction: column;
        width: 60%;
        gap: 0;
        background-color: #fffaf6;
        border: none;
        box-shadow: none;
    }

    #sideImgBox {
        position: relative;
        height: auto;
        overflow: hidden;
        max-height: 250px;
        margin-bottom: 0;
        border-bottom: none;
        background-color: #fffaf6;
    }

    #sideImgBox::after {
        content: none;
        background: none;
        width: 0;
        height: 0;
    }

    #signupForm {
        margin-top: 0;
        border-top: none;
        background-color: #fffaf6;
    }

    #sideImg {
        min-width: 60%;
        max-width: 60%;
        height: auto;
        padding-top: 10px;
        display: block;
    }

    #curationHead {
        top: 0px;
    }

    input[type="email"] {
        margin-top: 70px;
        margin-bottom: 40px;
    }

    #userAgreement {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    #checkMsg {
        font-size: 12px;
        margin-left: 10px;
    }
}
