.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1;
}

.hamburgerNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40px;  
    height: 100%;
    padding-left: 15px;
    padding-right: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    gap: 5px;
    z-index: 2;
    background-color: white;
}


.line {
    width: 100%;
    height: 3px;
    background: #980409;
}

.hamburgerNav:hover .line {
    height: 4px;
}

#cartIMG {
    width: 100%;
    height: auto;
}

#cart {
    position: relative;
    display: inline-block;
    width: 40px;
    height: inherit;
    margin-left: auto; 
    z-index: 2;
}

#cartIMG:hover {
    cursor: pointer;
}

/* Nav Bar (hidden before burger click) */

ul#nav {
    position: fixed;
    top: 7px;
    left: 50%;  /* Initially position the nav at the center horizontally */
    transform: translateX(-50%);  /* Adjust to perfectly center it */
    width: 800px;   
    height: 40px;   /* Set a fixed height for the navbar */
    background-color: white;  /* Optional: Change background color */
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: left 0.5s ease-out; /* Smooth transition */
    box-sizing: border-box;
}

ul#nav.active {
    left: 50%;
    transform: translateX(-50%);  /* Keep it centered */
}

ul#nav img {
    width: 40px; 
    height: auto; 
}

/* For Homepage li's */
ul#nav li text {
    color: #980409; 
    font-size: 25px;
}

ul#nav li {
    display: inline-block; 
    margin: 40px;
} 

ul#nav li a {
    text-decoration: none; 
    color: #980409; 
    font-size: 25px;
}

ul#nav li a:hover {
    font-weight: bold;
}

@media (max-width: 800px) {
    ul#nav li {
        margin: 25px;
    }
}

@media (max-width: 650px) {
    ul#nav li text {
        font-size: 20px;
    }

    ul#nav li a {
        font-size: 20px;
    }

    ul#nav li {
        margin: 15px;
    }
}

@media (max-width: 500px) {
    ul#nav li a {
        font-size: 15px;
    }

    ul#nav li {
        margin: 10px;
    }

    ul#nav img {
        width: 30px;
        height: auto; 
    }

    .hamburgerNav {
        width: 35px;
    }

    #cart {
        width: 30px;
    }
}

#headerCartCount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #980409;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

