body {
    font-family: 'caveat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFBF6;
}

image#Logo {
    width: 300px; 
    height: 300px;
    x: 0;
    y: 0;
}

.imgHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

path#upperCurve {
    fill: transparent;
}

path#lowerCurve {
    fill: transparent;
}

svg#LogoWrap {
    width: 300px;
    height: 300px;
    margin-top: 80px;
}

.logoText {
    text-anchor: middle;
}

text {
    font-size: 40px;
    /* fill: #980409; */
    fill: black;
}

ul#homepageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

ul#homepageNav li {
    display: inline-block; 
    margin: 20px;
}

ul#homepageNav li a {
    text-decoration: none; 
    /* color: #980409;  */
    color: black;
    font-size: 27px;
}

ul#homepageNav a:hover {
    font-weight: bold;
}

