#countdown {
    width: 100%;
    /* margin-top: 50px; */
    display: flex;
    min-height: 100vh;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: -1;
}

#countdownTimer {
    font-size: 22px;
    color: #f1f1f1;
    font-family: 'La Belle Aurore', cursive;
}

.eggDrop {
    display: flex;
    box-sizing: border-box;
    position: relative;
}

#animation {
    width: 500px;
    height: auto;
}

#timer {
    position: absolute;
    bottom: 180px; /* Adjust this value to move the timer up or down */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    background: rgba(255, 255, 255, 0); /* Optional: add a semi-transparent background for better visibility */
    margin-left: 16px;
    border-radius: 5px;
    background-color: #f7f7f700;
}

#eggClick {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    background: rgba(255, 255, 255, 0); /* Optional: add a semi-transparent background for better visibility */
    background-color: #ff000000;
    width: 280px;
    height: 210px;
    border-radius: 50%;
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(-5px, 5px); }
    40% { transform: translate(5px, -5px); }
    60% { transform: translate(-5px, 5px); }
    80% { transform: translate(5px, -5px); }
    100% { transform: translate(0px, 0px); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

