body {
    background-color: #FFFBF6;
    position: relative;
    margin: 0;
    padding: 0;
}


#shopContainer {
    margin-top: 40px;
    width: 100%; 
    flex: 1;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    gap: 80px;
    position: relative;
    margin-bottom: 100px;
}

.imageContainer {
    width: 370px;
    height: 550px;
    border-style: solid;
    /* border-color: #980409; */
    border-color: black;
    border-width: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f2e9;
    overflow: hidden;
    box-sizing: border-box;
}

#shopImg {
    width: 100%;
    height: auto;
    /* width: 100%;
    height: auto; */
    position: absolute;
    bottom: 0px;
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: none;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    cursor: pointer;
    color: #706e6e;
    z-index: 2;
}

.prevButton {
    left: 0px;

}

.nextButton {
    right: 0px;
}

/* @media (max-width: 768px) {
    .navButton {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    
    .imageContainer {
        padding: 0 30px;
    }
    
    .prevButton {
        left: -15px;
    }
    
    .nextButton {
        right: -15px;
    }
}

@media (max-width: 600px) {
    .shopItem {
        margin-top: 70px;
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 600px) {
    .shopItem {
        margin-top: 70px;
        width: 200px;
        height: 280px;
    }
} */

.sizeOptions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.customRadio {
    display: none;
}


.customRadio + label {
    flex: 0 0 auto;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px;
    width: 40px;
    font-size: 23px;
    /* margin: 10px 0 10px 0; */
    background-color: #FFFBF6;
    /* color: #980409; */
    color: black;
    text-align: center; 
    border-radius: 50%; /* Makes it a circle */
    /* border: 1px solid #9F1E13; */
    border: 1px solid black;
}

.customRadio:checked + label {
    /* background-color: #9F1E13; */
    background-color: black;
    color: #ffffff;
    /* border: 1px solid #9F1E13; */
    border: 1px solid black;
}

.customRadio:hover + label {
    /* background-color: #9F1E13; */
    background-color: black;
    color: #ffffff;
    /* border: 1px solid #9F1E13; */
    border: 1px solid black;
}

#addToCart, #viewCart {
    width: 250px;
    height: 45px;
    /* background-color: #9F1E13; */
    background-color: black;
    color: #ffffff;
    border-radius: 7px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'caveat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
    margin-bottom: 30px;
}

#addToCart:hover, #viewCart:hover {
    /* background-color: #d95f5f; */
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#viewCart {
    display: none;
}

#shopForm {
    display: flex;
    flex-direction: column;
    font-family: 'Caveat', sans-serif;
}

#shopForm h1 {
    margin: 0;
    font-size: 55px;
    /* color: #9F1E13; */
    color: black;
    font-weight: bold;
}

#shopForm h2 {
    margin: 0;
    font-size: 30px;
    color: #464646;
    margin-bottom: 15px;
}

#shopForm h3 {
    margin: 0;
    font-size: 25px;
    color: #464646;
    font-weight: 100;
}

#purchaseInfo {
    font-size: 23px;
    line-height: 1.8;
    margin: 0;
}

#cornerImg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: auto;
    transform: translate(40%, 75%);
    z-index: 1;
    pointer-events: none;
}

.quantityOptions {
    display: flex;
    gap: 10px;
}

.quantityOptions button {
    width: 40px;
    height: 40px;
    background-color: white;
    /* color: #980409; */
    color: black;
    /* border: 1px solid #980409; */
    border: 1px solid black;
    border-radius: 50%;
}

.quantityOptions button:hover {
    /* background-color: #980409; */
    background-color: black;
    color: white;
}

.quantityInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    /* color: #980409; */
    color: black;
    /* border: 1px solid #980409; */
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
}

.itemAdded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

.itemAdded.visible {
    display: block;
}

.diagonal-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.diagonal-text span {
    /* color: #bd3f4d; */
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    /* text-shadow: 4px 4px 8px rgba(255, 0, 0, 0.2); */
}

.diagonal-text span.space {
    width: 20px;
    height: 1px;
    background: transparent;
}

.sizeOptions label.sold-out {
    opacity: 0.3;
    text-decoration: line-through;
    cursor: not-allowed;
}

.sizeOptions input[disabled] + label {
    pointer-events: none;
}

.diagonal-text span:nth-child(1) { margin-left: 0%; }
.diagonal-text span:nth-child(2) { margin-left: 9.09%; }
.diagonal-text span:nth-child(3) { margin-left: 18.18%; }
.diagonal-text span:nth-child(4) { margin-left: 27.27%; }
.diagonal-text span:nth-child(5) { margin-left: 36.36%; }
.diagonal-text span:nth-child(6) { margin-left: 36.36%; 
}
.diagonal-text span:nth-child(7) { margin-left: 45.45%; 
}
.diagonal-text span:nth-child(8) { margin-left: 54.54%; 
}
.diagonal-text span:nth-child(9) { margin-left: 54.54%; 
}
.diagonal-text span:nth-child(10) { margin-left: 63.63%; }
.diagonal-text span:nth-child(11) { margin-left: 72.72%; }
.diagonal-text span:nth-child(12) { margin-left: 81.81%; }
.diagonal-text span:nth-child(13) { margin-left: 90.90%; }


@media (max-width: 880px) {
    #shopContainer {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .imageContainer {
        width: 310px;
        height: 490px;
    }
    
    #shopForm h1 {
        font-size: 40px;
        text-align: center;
    }
    
    #shopForm h2 {
        font-size: 25px;
        text-align: center;
    }
    
    #shopForm h3 {
        font-size: 22px;
        text-align: center;
    }
    
    #purchaseInfo {
        font-size: 18px;
        text-align: center;
    }

    .customRadio + label {
        flex: 0 0 auto;
        display: inline-flex; 
        justify-content: center; 
        align-items: center; 
        height: 40px;
        width: 40px;
        font-size: 23px;
        background-color: #FFFBF6;
        text-align: center; 
        border-radius: 50%; /* Makes it a circle */
    }

    .sizeOptions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }

    #shopForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Caveat', sans-serif;
    }
}
