#shopContainer {
    width: 100%; 
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.shopItem {
    width: 350px;
    height: 450px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.sizeOptions {
    display: flex;
    gap: 10px;
}

.customRadio {
    display: none;
}


.customRadio + label {
    flex: 1;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin: 10px 0 10px 0;
    background-color: #ffffff;
    color: #980409;
    text-align: center; 
    border-radius: 50%; /* Makes it a circle */
    border: 1px solid #980409;
}

.customRadio:checked + label {
    background-color: #980409;
    color: #ffffff;
    border: 1px solid #980409;
}

#addToCart {
    width: 200px;
    height: 40px;
    background-color: white;
    color: #980409;
    border: 1px solid #980409;
    border-radius: 10px;
}

#addToCart:hover {
    background-color: #980409;
    color: white;
}

#shopForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quantityOptions {
    display: flex;
    gap: 10px;
}

.quantityOptions button {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #980409;
    border: 1px solid #980409;
    border-radius: 50%;
}

.quantityOptions button:hover {
    background-color: #980409;
    color: white;
}

.quantityInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #980409;
    border: 1px solid #980409;
    text-align: center;
    border-radius: 50%;
}

