body {
    margin: 0;
    padding: 0;
    background-color: #FFFBF6;
}

.letterContainer {
    width: 100%;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#letterImg {
    width: 900px;
    margin-right: 30px;
    overflow-x: hidden;
    pointer-events: none;
}

.letterBox {
    bottom: 26.7%; 
    width: 57.2%;
    height: 36.7%; 
    cursor: pointer;
    overflow: hidden;
    position: absolute;
}

.aboutUsModal {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

.aboutUsModalContent {
    background-color: #fefefe;
    padding: 50px 30px 20px 30px;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; 
    background-color: rgb(255, 249, 237);
    position: relative;
}

.letterLines {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 39px,
        #000000 39px,
        #000000 41px
    );
}

.letterLines p {
    z-index: 1;
    font-size: 28px;
    font-family: caveat, cursive;
    margin: 0;
    line-height: 41px;
    color: #000000;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.paperclip {
  position: absolute;
  top: -18px;
  left: 15px;
  width: 25px;
  height: 78px;
  transform: rotate(-18deg);
}

.paperclip::before,
.paperclip::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #000000;
  border-radius: 18px;
}

.paperclip::after {
  top: 6px;
  left: 6px;
  width: 18px;
  height: 56px;
  border-color: #000000;
  border-left: none;
  border-bottom: none;
  border-right: none;
  transform: rotate(-10deg);
}

@media (max-width: 900px) {
    .letterImg {
        margin-right: 19px;
    }

    .letterLines p {
        font-size: 20px;
    }

    .aboutUsModalContent {
        max-width: 300px;
        padding: 30px 20px 15px 20px;
    }
}


@media (max-width: 480px) {
    .letterLines p {
        font-size: 14px;
        line-height: 37px;
    }

    .paperclip {
        position: absolute;
        top: -18px;
        left: 15px;
        width: 25px;
        height: 60px;
        transform: rotate(-18deg);
    }

    .aboutUsModalContent {
        max-width: 270px;
        padding: 10px 15px 0px 15px;
    }

    .letterLines {
        background-image: repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 35px,
            #000000 35px,
            #000000 37px
        );
    }
}

